h1 {
  color: orange;
  text-align: left;
  font-family: helvetica
}

h2 {
  font-style: bold;
  text-align: left;
  color: rgba(0, 195, 255, 0.329);
}
h3 {
  font-family: Arial;
  color: rgba(4, 71, 7, 0.521)
}
p {
  font-family: helvetica;
  color: rgba(71, 4, 49, 0.308)

}

img {
  max-width: 100%;
  height: auto;
  position: center;
}

ul {
  font-size: 25px;
  line-height: 35px;
}
