h1 {
  color: rgba(6, 190, 247, 0.616);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
  font-style: bold;
  text-align: center;
  color: rgba(48, 255, 21, 0.877);
}
h3 {
  font-family: Arial;
  color: rgba(4, 71, 7, 0.521);
  text-align: center;
}

body {
  background: bisque;
  text-align: center;
}

ul {
  font-size: 25px;
  line-height: 35px;
  list-style-position: inside;
}
